* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Telefonica';
}
.header{
    background: #ffffff;
    padding-bottom: 10px;
}
.menu {
    display: flex;
    flex-flow: row wrap;
}
.logo {
    flex: 1 1 auto;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    color: #5BC500;
}
.logo img{
    width: 50px;
}
.logo h1{
    font-size: 1.5vw;
}
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex: 5 1 auto;
    flex-wrap: wrap;
}
.info{
    text-align: center;
    width: 160px;
    cursor: pointer;
}
.social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 4 1 auto;
    padding-right: 35px;
}
.mi-movistar{
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background: #00A9E0;
    padding: 10px;
}
.section{
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
}
.articulos{
    background: #7e0cf5;
}
.article{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.oferta{
    margin: auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.oferta img{
    cursor: pointer;
    margin-top: -130px;
    width: 220px;
}
.banner{
    width: 100%;
    max-width: 600px;
    margin: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 50px;
}
.plan-gigas{
    text-align: center;
    font-size: 3.85vw;
    font-family: 'Comic Sans MS ';
    line-height: 50pt;
}
.numero-movil{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.form-numero{
    display: flex;
    justify-content: center;
}
.ing-num{
    border-radius: 2px 0px 0px 2px;
    padding-left: 15px;
    border: 1px solid #fff;
    height: 40px;
    width: 40%;
}
.button-enviar{
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px;
    color: #fff;
    background-color: #5BC500;
    height: 40px;
    width: 30%;
}
.article-2{
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 2.35vw;
    color: rgb(59, 59, 59);
}
.article-3{
    width: 100%;
    margin: auto;
    display: flex;
    max-width: 1000px;
}
.tabs{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.tab-plan-actual{
    padding: 10px;
    width: 20%;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    background: #53555B;
}
.title-tab-one{
    font-size: 1.70vw;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 33%;
}
.gb-tab-one{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 40px;
    height: 33%;
}
.precio-tab-one{
    display: flex;
    font-size: 1.60vw;
    height: 27%;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}
.tab-plan-nuevo{
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    width: 79%;
    background: #1DAAE0;
}
.tab-header{
    font-size: 1.70vw;
}
.tab-body{
    display: flex;
    justify-content: space-between;
}
.contenido-tab-izq{
    width: 35%;
    display: flex;
    flex-flow: column nowrap;
}
.tab-izq-num{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    display: flex;
    font-size: 4.70vw;
    height: 100%;
}
.body-tab-izq{
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: flex-end;
    color: #fff;
    font-size: 1vw;
    height: 33%;
}
.precio-tab-izq{
    display: flex;
    justify-content: center;
    height: 33%;
    font-size: 1.60vw;
    align-items: flex-end;
}
.contenido-tab-der{
    width: 59%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-flow: row wrap;
}
.min-ilimitados{
    border-radius: 4px;
    padding: 15px;
    width: 49%;
    font-size: 1.15vw;
    border: 1px solid;
    text-align: center;
}
.paises{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
}
.paises img{
    margin: 2px;
    width: 18px;
}
.ups{
    border-radius: 4px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 49%;
}
.ups img{
    width: 40px;
}
.ups-info{
    font-size: 1.1vw;
}
.play-lite{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid;
    width: 49%;
}
.play-logo{
    justify-content: center;
    display: flex;
    align-items: center;
}
.play-lite img{
    width: 40px;
}
.info-play{
    font-size: 1vw;
    text-align: center;
}
.napster{
    border-radius: 4px;
    padding-left: 30px;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 49%;
}
.napster img{
    width: 30px;
}
.napster-info{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.1vw;
}
.article-4{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    text-align: center;
    padding-bottom: 10px;
}
.numero-movil-end{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.form-numero-end{
    display: flex;
    justify-content: center;
}
.ing-num-end{
    border-radius: 2px 0px 0px 2px;
    padding-left: 15px;
    border: 1px solid rgb(192, 192, 192);
    height: 40px;
    width: 40%;
}
.button-enviar-end{
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    color: #fff;
    background-color: #5BC500;
    height: 40px;
    width: 30%;
}
.hover:hover {
    color: rgb(110, 110, 110);
    transition: 5ms;
}
@media (max-width: 890px) {
    .logo{
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center;
   }
    .logo h1{
        font-size: 4.5vw;
   }
}
@media (max-width: 745px) {
    .social{
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
   }
    .nav {
        flex-wrap: nowrap;
        justify-content: space-between;
   }
    .info{
        width: 100%;
   }
}
@media (max-width: 800px) {
    .tabs{
        flex-flow: column-reverse nowrap;
   }
    .tab-plan-nuevo{
        width: 100%;
   }
    .body-tab-izq{
        font-size: 2vw;
   }
    .tab-plan-actual{
        width: 100%;
   }
}
@media (max-width: 800px) {
    .oferta {
        justify-content: center;
   }
    .oferta img{
        margin-top: 0 ;
        width: 150px;
   }
}
